<template name="uploadAvatar">
  <style type="text/css">
    img[src="#"] {
      display: none;
    }
    .img-preview {
      width: 134px;
      height: 134px;
      overflow: hidden;
    }
  </style>
	<section class="hbox stretch bg-white-only">
		{{> profile}}
		<!-- .aside -->
		<aside>
      <section class="vbox">
        <header class="header bg-white pos-rlt navbar navbar-default show">
          <span class="arrow left"></span>
          <div class="collapse navbar-collapse pull-in">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'myproperty' type='open' page=1}}">我的房屋</a></li>
              <li><a href="{{pathFor 'security'}}">安全设置</a></li>
              <li class="active"><a href="{{pathFor 'avatar'}}">上传头像</a></li>
              <li><a href="{{pathFor 'inbox'}}">收件箱</a></li>
            </ul>
          </div>
        </header>
        <section>
  				<section class="hbox stretch">
  					<aside>
  						<section class="vbox">
  							<section class="scrollable wrapper" style="padding:20px 50px">
                  <div class="container">
                    <div class="row">
                      <form id="uploadAvatar">
                        <input type="file" id="avatarImg" />
                      </form>
                    </div>
                    <br>
    								<div class="row">
    									<div class="col-sm-6 img-container bg-light" style="min-height: 250px">
                        <img id="previewAvatar" style="width:100%" src="#" alt="your image" />
    									</div><!-- /.col-sm-6 -->
                      <div class="col-sm-1 text-center">预览:</div> <!-- serve as margin -->
                      <div class="col-sm-5">
                        <div class="img-preview img-thumbnail"></div>
                        <div class="clearfix"></div>
                        <button class="btn btn-primary" id="confirm" style="width: 134px;">确认上传</button>
                      </div>

    								</div><!-- /.row -->

                  </div>
  							</section>
  						</section>
  					</aside>
  			  </section>
        </section>
      </section> <!-- end of vbox section  -->
		</aside>
		<!-- /.aside -->
	</section>
</template>