<template name="profile">
	{{#with profile}}
	<!-- .aside -->
	<aside class="aside aside-lg b-r">
		<section class="vbox">
			<header class="panel-heading bg-primary lter no-borders no-radius">
				<div class="clearfix">
					<a href="{{pathFor 'myproperty' type='open' page=1}}" class="pull-left thumb avatar border m-r">
						<img src="{{getAvatarByUserId userid}}" class="img-circle">
					</a>
					<div class="clear">
						<div class="h3 m-t-xs m-b-xs">{{getUsernameByUserId userid}}
							<i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
						</div>
						<small class="text-muted">普通用户</small>
					</div>
				</div>
			</header>
			<div class="list-group no-radius no-border alt">
				<div class="list-group-item">
					{{#with getEmailAndStatusByUserId userid}}
					{{#if verified}}
					<span class="badge bg-success">已验证</span>
					{{else}}
					{{#if countDown}}
					<span class="badge bg-warning">{{countDown}}</span>
					{{else}}
					<span class="badge bg-danger pointer" id="verifyEmail">未验证</span>
					{{/if}}
					{{/if}}
					<i class="fa fa-envelope-o icon-muted icon-align"></i>
					<span class="email-ellipsis">{{address}}</span>
					{{/with}}
				</div>
				<div class="list-group-item">
					<i class="fa fa-credit-card icon-muted icon-align"></i>
					<input type="text" name="name" class="no-borders editable" placeholder="默认联系名字" value="{{name}}">
				</div>
				<div class="list-group-item">
					<i class="fa fa-phone icon-muted icon-align"></i>
					<input type="text" name="phone" class="no-borders editable" placeholder="电话号码" value="{{phone}}">
				</div>
				<div class="list-group-item">
					<i class="fa fa-qq icon-muted icon-align editable"></i>
					<input type="text" name="qq" class="no-borders editable" placeholder="QQ号码" value="{{qq}}">
				</div>
				<div class="list-group-item">
					<i class="fa fa-wechat icon-muted icon-align editable"></i>
					<input type="text" name="wechat" class="no-borders editable" placeholder="微信ID" value="{{wechat}}">
				</div>
			</div>
		</section>
	</aside>
	<!-- /.aside -->
	{{/with}}
</template>