.property-panel{
  margin:10px 0px;
  border-radius: 2px;
  background-color: #fefefe;
  padding: 20px;
}
.property .label-img{
  width: 15px;
  height: 15px;
  margin-right: 5px
}
dt {margin-right: 5px}
dd {font-weight: 100}

.gray-out{
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.owl-carousel .item img{
    display: block;
    width: auto;
    max-width: 698px;
    max-height: 400px;
    margin:0 auto
}

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}

.propertyImage {
  background: url('/img/dummy-bg.jpg') no-repeat;
  height: 400px;
  width: 100%;
  margin-top: -56px;
  background-position: center center;
  background-size: cover;
}