.property-panel{
  margin:10px 0px;
  border-radius: 2px;
  background-color: #fefefe;
  padding: 20px;
}
.property .label-img{
  width: 15px;
  height: 15px;
  margin-right: 5px
}
dt {margin-right: 5px}
dd {font-weight: 100}

ul.property-features-list{
  padding-left: 0;
  list-style: none;
}

.property-features-list li:before {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f111";
  color: #1396e2;
  font-size: 8px;
  position: relative;
  bottom: 2px;
  margin-right: 10px;
}

.slick-next:before, .slick-prev:before{
  color: #428bca
}

#prop-carousel{
  margin-bottom: 70px;
}

.gray-out{
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

#prop-carousel .item img{
    display: block;
    width: auto;
    max-width: 698px;
    max-height: 450px;
    margin:0 auto
}

.pac-container::after{
  background-image: none; /* block 'power by G'*/
}

