<template name="me">
  <section class="hbox stretch bg-white-only">
    {{> profile}}
    <!-- .aside -->
    <aside class="">
      <section class="vbox">
        <header class="header bg-white pos-rlt navbar navbar-default show">
          <span class="arrow left"></span>
          <div class="collapse navbar-collapse pull-in">
            <ul class="nav navbar-nav">
              <li class="font-bold"><a href="{{pathFor "me"}}">即时动态</a></li>
              <li><a href="{{pathFor 'myproperty' type='open' page=1}}">我的房屋</a></li>
              <li><a href="{{pathFor 'security'}}">安全设置</a></li>
              <li><a href="{{pathFor 'inbox'}}">收件箱</a></li>
            </ul>
          </div>
        </header>
        <section>
          <section class="hbox stretch">
            <aside>
              <section class="vbox">
                <section class="scrollable wrapper">
                  <div class="clearfix">
                    <section class="panel panel-info col-md-6 no-padder">
                      <form>
                        <textarea class="form-control no-border" rows="2" placeholder="说些什么..."></textarea>
                      </form>
                      <footer class="panel-footer bg-light lter">
                        <button class="btn btn-info pull-right btn-sm font-bold">分享</button>
                        <ul class="nav nav-pills nav-sm">
                          <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                          <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                        </ul>
                      </footer>
                    </section>
                  </div>
                  <div class="col-md-6 no-padder">
                    <div class="btn-group m-b" data-toggle="buttons">
                      <label class="btn btn-sm btn-white active">
                        <input type="radio" name="options" id="option1"> 时间轴
                      </label>
                      <label class="btn btn-sm btn-white">
                        <input type="radio" name="options" id="option2"> 互动
                      </label>
                    </div>
                    <section class="comment-list block">
                      <article id="comment-id-1" class="comment-item">
                        <a class="pull-left thumb-sm avatar">
                          <img src="/images/avatar.jpg" class="img-circle">
                        </a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel">
                          <header class="panel-heading">
                            <a href="#">John smith</a>
                            <label class="label bg-info m-l-xs">认证中介</label> 
                            <span class="text-muted m-l-sm pull-right">
                              <i class="fa fa-clock-o"></i>
                              24分钟前
                            </span>
                          </header>
                          <div class="panel-body">
                            <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                            <div class="comment-action m-t-sm">
                              <a href="#" data-toggle="class" class="btn btn-white btn-xs active">
                                <i class="fa fa-star-o text-muted text"></i>
                                <i class="fa fa-star text-danger text-active"></i>
                                Like
                              </a>
                              <a href="#comment-form" class="btn btn-white btn-xs">
                                <i class="fa fa-mail-reply text-muted"></i> Reply
                              </a>
                            </div>
                          </div>
                        </section>
                      </article>
                      <!-- .comment-reply -->
                      <article id="comment-id-2" class="comment-reply">
                        <article class="comment-item">
                          <a class="pull-left thumb-sm">
                            <img src="/images/avatar_default.jpg" class="img-circle">
                          </a>
                          <section class="comment-body m-b-lg">
                            <header>
                              <a href="#"><strong>John smith</strong></a>
                              <span class="text-muted text-xs">
                                26 minutes ago
                              </span>
                            </header>
                            <div> Morbi id neque quam. Aliquam.</div>
                          </section>
                        </article>
                        <article class="comment-item">
                          <a class="pull-left thumb-sm">
                            <img src="/images/avatar.jpg" class="img-circle">
                          </a>
                          <section class="comment-body m-b-lg">
                            <header>
                              <a href="#"><strong>Mike</strong></a>
                              <span class="text-muted text-xs">
                                26 minutes ago
                              </span>
                            </header>
                            <div>Good idea.</div>
                          </section>
                        </article>                     
                      </article>                     
                      <!-- .comment-reply -->
                      <article id="comment-id-2" class="comment-item comment-reply">
                        <a class="pull-left thumb-sm avatar">
                          <img src="/images/avatar.jpg" class="img-circle">
                        </a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel text-sm">
                          <div class="panel-body">
                            <a href="#">Mika Sam</a>
                            <label class="label bg-dark m-l-xs">Admin</label> 
                            Report this comment is helpful 
                            <span class="text-muted m-l-sm pull-right">
                              <i class="fa fa-clock-o"></i>
                              10 minutes ago
                            </span>
                          </div>
                        </section>
                      </article>
                      <!-- / .comment-reply -->
                      <article id="comment-id-3" class="comment-item">
                        <a class="pull-left thumb-sm avatar"><img src="/images/avatar.jpg" class="img-circle"></a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel">
                          <header class="panel-heading">                      
                            <a href="#">By me</a>
                            <label class="label bg-success m-l-xs">User</label> 
                            <span class="text-muted m-l-sm pull-right">
                              <i class="fa fa-clock-o"></i>
                              about 1 hour ago
                            </span>
                          </header>
                          <div class="panel-body">
                            <div>This comment was posted by you.</div>
                            <div class="comment-action m-t-sm">
                              <a href="#comment-id-3" data-dismiss="alert" class="btn btn-white btn-xs"><i class="fa fa-trash-o text-muted"></i> Remove</a>
                            </div>
                          </div>
                        </section>
                      </article>
                      <article id="comment-id-4" class="comment-item">
                        <a class="pull-left thumb-sm avatar"><img src="/images/avatar.jpg" class="img-circle"></a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel">
                          <header class="panel-heading">
                            <a href="#">Peter</a>
                            <label class="label bg-primary m-l-xs">Vip</label> 
                            <span class="text-muted m-l-sm pull-right">
                              <i class="fa fa-clock-o"></i>
                              2 hours ago
                            </span>
                          </header>
                          <div class="panel-body">
                            <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
                            <div class="comment-action m-t-sm">
                              <a href="#" data-toggle="class" class="btn btn-white btn-xs"><i class="fa fa-star-o text-muted text"></i><i class="fa fa-star text-danger text-active"></i> Like</a>
                              <a href="#comment-form" class="btn btn-white btn-xs"><i class="fa fa-mail-reply text-muted"></i> Reply</a>
                            </div>
                          </div>
                        </section>
                      </article>
                    </section>
                  </div>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
    </aside>
    <!-- /.aside -->
  </section>
</template>