<template name="me">
  <section class="hbox stretch bg-white-only">
    {{> profile}}
    <!-- .aside -->
    <aside class="">
      <section class="vbox">
        <header class="header bg-white pos-rlt navbar navbar-default show">
          <span class="arrow left"></span>
          <div class="collapse navbar-collapse pull-in">
            <ul class="nav navbar-nav">
              <li class="font-bold"><a href="{{pathFor "me"}}">即时动态</a></li>
              <li><a href="{{pathFor 'myproperty' type='open' page=1}}">我的房屋</a></li>
              <li><a href="{{pathFor 'security'}}">安全设置</a></li>
              <li><a href="{{pathFor 'inbox'}}">收件箱</a></li>
            </ul>
          </div>
        </header>
        <section>
          <section class="hbox stretch">
            <aside>
              <section class="vbox">
                <section class="scrollable wrapper">
                  <div class="clearfix">
                    <section class="panel panel-info col-lg-6 no-padder">
                      <form>
                        <textarea class="form-control no-border" rows="2" placeholder="说些什么..."></textarea>
                      </form>
                      <footer class="panel-footer bg-light lter">
                        <button class="btn btn-info pull-right btn-sm font-bold">分享</button>
                        <ul class="nav nav-pills nav-sm">
                          <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                          <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                        </ul>
                      </footer>
                    </section>
                  </div>
                  <div class="btn-group m-b" data-toggle="buttons">
                    <label class="btn btn-sm btn-white active">
                      <input type="radio" name="options" id="option1"> 时间轴
                    </label>
                    <label class="btn btn-sm btn-white">
                      <input type="radio" name="options" id="option2"> 互动
                    </label>
                  </div>
                  <section class="comment-list block">
                    <article id="comment-id-1" class="comment-item">
                      <span class="fa-stack pull-left m-l-xs">
                        <i class="fa fa-circle text-info fa-stack-2x"></i>
                        <i class="fa fa-film fa-stack-1x text-white"></i>
                      </span>
                      <section class="comment-body m-b-lg">
                        <header>
                          <a href="#"><strong>John smith</strong></a> shared a <a href="#" class="text-info">video</a> to you
                          <span class="text-muted text-xs">
                            24 minutes ago
                          </span>
                        </header>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam.</div>
                      </section>
                    </article>
                    <!-- .comment-reply -->
                    <article id="comment-id-2" class="comment-reply">
                      <article class="comment-item">
                        <a class="pull-left thumb-sm">
                          <img src="/images/avatar_default.jpg" class="img-circle">
                        </a>
                        <section class="comment-body m-b-lg">
                          <header>
                            <a href="#"><strong>John smith</strong></a>
                            <span class="text-muted text-xs">
                              26 minutes ago
                            </span>
                          </header>
                          <div> Morbi id neque quam. Aliquam.</div>
                        </section>
                      </article>
                      <article class="comment-item">
                        <a class="pull-left thumb-sm">
                          <img src="/images/avatar.jpg" class="img-circle">
                        </a>
                        <section class="comment-body m-b-lg">
                          <header>
                            <a href="#"><strong>Mike</strong></a>
                            <span class="text-muted text-xs">
                              26 minutes ago
                            </span>
                          </header>
                          <div>Good idea.</div>
                        </section>
                      </article>                     
                    </article>                     
                    <!-- / .comment-reply -->
                    <article id="comment-id-2" class="comment-item">
                      <span class="fa-stack pull-left m-l-xs">
                        <i class="fa fa-circle text-success fa-stack-2x"></i>
                        <i class="fa fa-file-text-o text-white fa-stack-1x"></i>
                      </span>
                      <section class="comment-body m-b-lg">
                        <header>
                          <a href="#"><strong>John Doe</strong></a>
                          <span class="text-muted text-xs">
                            1 hour ago
                          </span>
                        </header>
                        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit.</div>
                      </section>
                    </article>
                    <article id="comment-id-2" class="comment-item">
                      <span class="fa-stack pull-left m-l-xs">
                        <i class="fa fa-circle text-danger fa-stack-2x"></i>
                        <i class="fa fa-check fa-stack-1x text-white"></i>
                      </span>
                      <section class="comment-body m-b-lg">
                        <header>
                          <a href="#"><strong>Jonathan</strong></a> completed a task
                          <span class="text-muted text-xs">
                            1 hour ago
                          </span>
                        </header>
                        <div>Consecteter adipiscing elit.</div>
                      </section>
                    </article>
                  </section>
                  <a href="#" class="btn btn-white btn-sm"><i class="fa fa-plus icon-muted"></i> more</a>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
    </aside>
    <!-- /.aside -->
  </section>
</template>