<template name="header">
  <header class="header bg-black lter navbar navbar-inverse">
    <div class="collapse navbar-collapse pull-in">
      <ul class="nav navbar-nav m-l-n">
        <li>
          <a href="{{pathFor "landing"}}" style="padding-top: 10px; padding-bottom: 10px;">
            <img src="/images/logo.png" height="30px;">
          </a>
        </li>
      </ul>
      {{!--
      <form class="navbar-form navbar-left m-t-sm" role="search">
        <div class="form-group">
          <div class="input-group input-s">
            <input type="text" class="form-control input-sm no-border bg-dark" placeholder="{{search_keyword}}">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm btn-info btn-icon"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </form>
      --}}
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
        <li class="">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i> {{_ "notice"}}
            {{#if messageCount}}
              <span class="badge up bg-info m-l-n-sm">{{messageCount}}</span>
            {{/if}}
          </a>
          <section class="bs dropdown-menu input-s-lg">
            <section class="panel bg-white">
              <header class="panel-heading">
                {{#if messageCount}}
                  {{_ "inbox_status" messageCount}}
                {{else}}
                  {{_ "no_notice"}}
                {{/if}}
              </header>
              {{> messages}}
              <footer class="panel-footer text-sm">
                <a href="{{pathFor "inbox"}}" class="pull-right"><i class="fa fa-cog"></i></a>
                <a href="{{pathFor "inbox"}}">{{_ "view_all"}}</a>
              </footer>
            </section>
          </section>
        </li>
        <li>
          <a href="{{pathFor 'addProperty'}}" class="pointer navlink navpadding"><i class="fa fa-edit"></i>&nbsp;{{_ "publish"}}</a>
        </li>
        {{#if isAdmin loggedInUser._id}}
        <li>
          <a href="{{pathFor 'adminuser' type='all' page='1'}}" class="pointer navlink navpadding"><i class="fa fa-bar-chart"></i>&nbsp;{{_ "admin_panel"}}</a>
        </li>
        {{/if}}
        {{#with loggedInUser._id}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">
              <img src="{{getAvatarByUserId this}}">
            </span>
            {{getUsernameByUserId this}}
            <b class="caret"></b>
          </a>
          <ul class="bs dropdown-menu">
            <li>
              <a href="{{pathFor 'myproperty' type='open' page=1}}">{{_ "my_management"}}</a>
            </li>
            <li>
              <a href="#和管理员发起对话" class="chatWithAdmin">{{_ "online_help"}}</a>
            </li>
            <li>
              <a id="signout" href="javascript:void(0)">{{_ "logout"}}</a>
            </li>
          </ul>
        </li>
        {{/with}}
        {{else}}
        <li><a href="/account/signup" class="navlink navpadding">{{_ "register"}}</a></li>
        <li><a href="/account/signin" class="navlink navpadding">{{_ "login"}}</a></li>
        {{/if}}
        <li><a href="javascript:void(0)" class="languageSetting"><i class="fa fa-language"></i> {{_ "lang"}}</a></li>
      </ul>
    </div>
  </header>
</template>