<template name="sideSearch">
  <section id="sidebar">
    <aside id="edit-search">
      <header><h3>搜索</h3></header>
      <form role="form" id="search-form-sidebar" class="form-search">
        <div class="form-group">
          <select name="district">
            <option value="">地区</option>
            {{#each arrayify district}}
            <option value="{{key}}">{{key}} - {{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="mrtlines" id="mrtlines">
            <option value="">最近地铁线</option>
            {{#each arrayify mrtlines}}
            <option value="{{key}}">{{value.niceName}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="stations" id="stations">
            <option value="">站名</option>
            {{#each arrayify stations}}
            <option value="{{key}}">{{key}} - {{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="property-type">
            <option value="">房屋类型</option>
            {{#each arrayify ptypes}}
            <option value="{{key}}">{{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select id="rent-type" name="rent-type">
            <option value="">出租方式</option>
            <option value="0" >单间</option>
            <option value="1" >整套</option>
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="room-type" id="room-type">
            <option value="">出租房间</option>
            {{#each arrayify rtypes}}
              <option value="{{key}}">{{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="has-agent-fee">
            <option value="0" >无中介费</option>
            <option value="1" >有中介费</option>
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <div class="price-range">
            <input id="price-input" type="text" name="price" value="1000;299000">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">提交</button>
        </div><!-- /.form-group -->
      </form><!-- /#form-map -->
    </aside><!-- /#edit-search -->
  </section><!-- /#sidebar -->
</template>