/* Landing Page */
.welcome {
  background: url('/images/background.jpg') no-repeat center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin-top:-50px;
  color: #fff;
}

.fullbackground {
  background: url('/images/dummy-bg.jpg') center center no-repeat;
  background-size: cover;
}

.email-ellipsis {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}

.icon-align {
  width: 25px;
  text-align: center
}

/* Remove Glowing */
textarea, input { outline: none; }

.propertyImage {
  background: url('/images/dummy-bg.jpg') no-repeat;
  height: 400px;
  width: 100%;
  margin-top: -62px;
  background-position: center center;
  background-size: cover;
}

.text-wechat {
  color:#A0C258
}
.text-weibo {
  color:#E6162D
}
.text-facebook {
  color:#294279
}
.text-twitter {
  color:#00aced
}
.text-renren {
  color:#227DC5
}

/*
Property detail travel
 */
.travel-mode {
  float:left
}

.travel-mode-button {
  padding: 7px 17px 6px;
}

.travel-mode-button .travel-icon {
  background-image: url('/images/sprite.png');
  background-size: 20px 276px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.directions-mixed-icon {
  background-position: 0 0px;
}

.selected .travel-mode-button .directions-mixed-icon {
  background-position: 0 -20px;
}

.directions-drive-icon {
  background-position: 0 -40px;
}

.selected .travel-mode-button .directions-drive-icon {
  background-position: 0 -60px; 
}

.directions-transit-icon {
  background-position: 0 -80px;
}

.selected .travel-mode-button .directions-transit-icon {
  background-position: 0 -100px; 
}

.directions-walk-icon {
  background-position: 0 -120px;
}

.selected .travel-mode-button .directions-walk-icon {
  background-position: 0 -140px; 
}

.travel-mode-breadcrumb {
  width: 10px !important;
  height: 22px !important;
  position: absolute;
  top: 6px;
  left: 63px;
  background-position: 0 -249px;
}

.selected .directions-travel-mode-underline {
  background-color: #3983de;
  opacity: 1 !important;
}

.directions-travel-mode-underline {
    height: 3px;
}

.travel-mode-icon {
  background-image: url('/images/sprite.png');
  background-size: 20px 276px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  bottom: 2px;
}

.travel-mode-icon.driving{
 background-position: 0 -40px; 
}

.travel-mode-icon.transit{
 background-position: 0 -80px; 
}

.travel-mode-icon.walking{
 background-position: 0 -120px; 
}

.route-element {
  padding: 10px;
  border: 1px solid #ccc;
}

.switchPlace{
  color:#ccc;
}

.switchPlace:hover{
  color:#5a5a5a;