/* Landing Page */
.welcome {
  background: url('/images/background.jpg') no-repeat center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin-top:-50px;
  color: #fff;
}

.fullbackground {
  background: url('/images/dummy-bg.jpg') center center no-repeat;
  background-size: cover;
}