<template name="addProperty">
  {{> breadcrumbs}}
  <section class="wrapper">
    <form role="form" id="propertyForm" class="form-submit">
      <div class="row">
        <div class="col-sm-9">
          <input type="hidden" name="propertyid" value="{{myProperty._id}}">
          <input type="hidden" name="existingPhotos" value="{{glueArray myProperty.photos}}">
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-list-alt"></i> 基本信息</span>
            </header>
            <div class="panel-body">
              <p class="text-muted">* 为必填项目</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" id="address-form-group">
                    <label>地址 *</label>
                    <input type="text" class="form-control" id="submit-title" placeholder="请输入地址" name="address" value="{{myProperty.address}}">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group" id="postcode-form-group">
                    <label>邮编 *</label>
                    <div class="input-group">
                      <span class="input-group-addon">S</span>
                      <input type="text" class="form-control" id="submit-postcode" name="postcode" value="{{myProperty.postcode}}">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group" id="price-form-group">
                    <label>价格 *</label>
                    <div class="input-group">
                      <span class="input-group-addon">S$</span>
                      <input type="text" class="form-control" id="submit-price" name="price" value="{{myProperty.price}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group padder" id="descr-form-group">
                  <label>更多描述</label>
                  <textarea class="form-control" id="submit-description" rows="3" name="description">{{myProperty.description}}</textarea>
                </div>
              </div>
            </div>
          </section>
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-newspaper-o"></i> 概览</span>
            </header>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group" id="district-form-group">
                    <label>区域</label>
                    <select id="district" name="district" class="form-control m-b selectpicker">
                      {{#each arrayify district}}
                      <option value="{{key}}" {{ifSelected key ../myProperty.district}}>{{key}} - {{value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="ptype-form-group">
                    <label>房屋类型</label>
                    <select name="property-type" id="property-type" class="form-control m-b selectpicker">
                      {{#each arrayify ptypes}}
                      <option value="{{key}}" {{ifSelected key ../myProperty.propertyType}}>{{value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="hasAgent-form-group">
                    <label>有无中介费</label>
                    <div class="row padder">
                      <div class="radio col-xs-6">
                        <label>
                          <input type="radio" id="has-agent-true" value="1" class="icheck"
                          {{ifRadioChecked 1 myProperty.hasAgentFee}} name="has-agent-fee"> 有
                        </label>

                      </div>
                      <div class="radio col-xs-6" style="margin-top:10px">
                        <label>
                          <input type="radio" id="has-agent-false" value="0" class="icheck"
                          {{ifRadioChecked 0 myProperty.hasAgentFee}} name="has-agent-fee"> 无
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="renttype-form-group">
                    <label>出租方式</label>
                    <select name="rent-type" id="rent-type" class="form-control selectpicker">
                      <option value="0" {{ifSelected '0' myProperty.rentType}}>单间</option>
                      <option value="1" {{ifSelected '1' myProperty.rentType}}>整套</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="room-form-group">
                    <label>房间类型</label>
                    <select name="room-type" id="room-type" class="form-control selectpicker">
                      {{#each arrayify rtypes}}
                      <option value="{{key}}" {{ifSelected key ../myProperty.roomType}}>{{value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group" id="movein-form-group">
                    <label for="move-in-date">入住时间</label>
                    <div class="input-group">
                      <input type="text" class="form-control datepicker" id="move-in-date" name="move-in-date" value="{{transDatetime myProperty.moveInDate}}">
                    </div>
                  </div><!-- /.form-group -->
                </div><!-- /.col-md-4 -->
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="bedroom-form-group">
                    <label>房间</label>
                    <select name="bedroom" class="form-control selectpicker">
                      {{#each bedroomNum}}
                      <option value="{{this}}" {{ifSelected this ../myProperty.bedroom}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="bathroom-form-group">
                    <label>卫生间</label>
                    <select name="bathroom" class="form-control selectpicker">
                      {{#each bathroomNum}}
                      <option value="{{this}}" {{ifSelected this ../myProperty.bathroom}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="area-form-group">
                    <label>面积 *</label>
                    <div class="input-group">
                      <input type="text" class="form-control selectpicker" name="property-area" value="{{myProperty.area}}">
                      <span class="input-group-addon">m<sup>2</sup></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="mrtLinesDiv">
                    <label>最近地铁线</label>
                    <select name="mrtlines" id="mrtlines" class="form-control selectpicker">
                      {{#each arrayify mrtlines}}
                      <option value="{{key}}" {{ifLineMatch key ../myProperty.mrt}}>{{value.niceName}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>站名</label>
                    <select name="stations" id="stations" class="form-control selectpicker">
                      {{#each arrayify stations}}
                      <option value="{{key}}" {{ifSelected key ../myProperty.mrt}}>{{key}} - {{value}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-sm-3">
          <aside class="submit-step">
            <div class="description">
              <h4>输入您的房产信息</h4>
              <p>请尽可能准确地描述您的房产, 以便其他用户查找</p>
            </div>
          </aside><!-- /.submit-step -->
        </div>
      </div>


      {{#with myProperty.photos}}
      <div class="row">
        <div class="col-sm-9">
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-picture-o"></i> 已上传图片</span>
            </header>
            <div class="panel-body">
              {{#each this}}
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                  <img src="{{getImageURL this}}" >
                  <a href="#" class="existingImage" data-id="{{this}}"><i class="delete fa fa-trash-o"></i></a>
                </div>
              </div>
              {{/each}}
            </div>
          </section>
        </div>
      </div>
      {{/with}}
      <div class="row">
        <div class="col-sm-9">
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-cloud-upload"></i> 上传图片</span>
            </header>
            <div class="panel-body">
              <div class="center">
                <div class="form-group">
                  <img src="/images/Upload-toCloud-icon.png" style="position:absolute; left:42%; top:40%;">
                  <form action="/file-upload" class="dropzone" id="upload">
                    <span>拖入图片或点击上传</span>
                    <div class="fallback">
                      <input name="file" type="file" multiple />
                    </div>
                  </form>
                  <figure class="note"><strong>提示:</strong> 可以一次选择多个文件, 最多上传{{maxFiles}}个文件，且每个文件不大于{{maxFilesize}}MB!</figure>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-star-o"></i> 房屋配套</span>
            </header>
            <div class="panel-body">
              <ul class="submit-features no-padder" style="list-style-type:none">
                {{#each arrayify facilities}}
                <li class="col-sm-4 col-xs-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="{{key}}" {{ifSelected key ../myProperty.facilities}} class="property-facility icheck">  {{value}}
                    </label>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <section class="panel">
            <header class="panel-heading">
              <span class="h4"><i class="fa fa-phone-square"></i> 联系方式</span>
            </header>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="contact-person-form-group">
                    <label>联系人 *</label>
                    {{#if myProfile}}
                    <input type="text" class="form-control" value="{{myProfile.name}}" name="contact-person" >
                    {{else}}
                    <input type="text" class="form-control" value="{{myProperty.contact.name}}" name="contact-person" >
                    {{/if}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="contact-number-form-group">
                    <label>联系电话 *</label>
                    {{#if myProfile}}
                    <input type="text" class="form-control" value="{{myProfile.phone}}" name="contact-number" >
                    {{else}}
                    <input type="text" class="form-control" value="{{myProperty.contact.phone}}" name="contact-number" >
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" id="contact-qq-form-group">
                    <label>QQ</label>
                    {{#if myProfile}}
                    <input type="text" class="form-control" value="{{myProfile.qq}}" name="contact-qq">
                    {{else}}
                    <input type="text" class="form-control" value="{{myProperty.contact.qq}}" name="contact-qq">
                    {{/if}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="contact-wechat-form-group">
                    <label>微信</label>
                    <div class="form-group">
                      {{#if myProfile}}
                      <input type="text" class="form-control" value="{{myProfile.wechat}}" name="contact-wechat">
                      {{else}}
                      <input type="text" class="form-control" value="{{myProperty.contact.wechat}}" name="contact-wechat">
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" id="contact-email-form-group">
                    <label>邮箱</label>
                    {{#if myProfile}}
                    <input type="text" class="form-control" value="{{myProfile.email.address}}" name="contact-email">
                    {{else}}
                    <input type="text" class="form-control" value="{{myProperty.contact.email}}" name="contact-email">
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            <footer class="panel-footer text-center bg-light lter">
              <button type="submit" class="btn btn-success btn-s-lg">发布</button>
            </footer>
          </section>
        </div>
        <div class="col-sm-3">
          <aside class="submit-step">
            <div class="description">
              <h4>联系方式</h4>
              <p>请填写准确的联系方式以便对方即时联系您</p>
            </div>
          </aside><!-- /.submit-step -->
        </div>
      </div>
    </form>
  </section>
</template>