<template name="landing">
  <div class="welcome">
    <div class="container slogan">
      <h2>{{_ "landing_main_title"}}</h2>
      <h5>{{_ "landing_sub_title"}}</h5>
    </div>
    <br>
    <div class="container search-box">
      <ul class="nav nav-pills">
        <li class="active"><a href="#search-form-rent" data-toggle="tab">{{_ "housing"}}</a></li>
        <li><a href="javascript:;" class="tool-tip" data-toggle="tooltip" data-placement="top" title="启动中">{{_ "flea_market"}}</a></li>
      </ul>
      <br>
      <div class="tab-content m-b">
        <div class="tab-pane fade in active" id="search-form-rent">
          <!-- <a class="advanced-search-toggle" data-toggle="collapse" data-parent="#accordion" href="#advanced-search-rent">高级搜索条件 <i class="fa fa-plus"></i></a> -->
          <form role="form" id="search-form-landing" class="form-map form-search clearfix">
            <div class="row">
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="property-type" class="selectpicker" data-width="100%">
                    <option value="">任意房屋类型</option>
                    {{#each arrayify ptypes}}
                    <option value="{{key}}">{{value}}</option>
                    {{/each}}
                  </select>
                </div><!-- /.form-group -->
              </div>
              <div class="col-md-10 col-sm-8">
                <!-- <div class="form-group">
                  <input type="text" id="intelAddress" name="intelAddress" class="form-control" placeholder="智能地址搜索, 快试一下吧!">
                </div> -->
                <div class="pillbox clearfix bg-primary m-b">
                  <ul>
                    {{#each arrayify multiAddress}}
                    <li class="label bg-success multiAddrLabel"
                    data-key="{{key}}">{{value.address}}</li>
                    {{/each}}
                    <input type="text" class="form-control text-white m-l-sm" placeHolder="常用地址: 工作地点, 学校..." id="multiAddress" name="multiAddress">
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="district" class="selectpicker" data-width="100%">
                    <option value="">任意区域</option>
                    {{#each arrayify district}}
                    <option value="{{key}}">{{key}} - {{value}}</option>
                    {{/each}}
                  </select>
                </div><!-- /.form-group -->
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="price" class="selectpicker" data-width="100%">
                    <option value="">任意价格</option>
                    {{#each arrayify priceRange}}
                    <option value="{{key}}">{{value}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="room" class="selectpicker" data-width="100%">
                    <option value="">任意房间数</option>
                    {{#each arrayify roomNum}}
                    <option value="{{key}}">{{value}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="mrtlines" id="mrtlines" class="selectpicker" data-width="100%">
                    <option value="">任意地铁线</option>
                    {{#each arrayify mrtlines}}
                    <option value="{{key}}" data-content="{{value.niceName}} {{mrtColoredLabel key}}"></option>
                    {{/each}}
                  </select>
                </div><!-- /.form-group -->
              </div>

              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <select name="stations" id="stations" class="selectpicker" data-width="100%">
                    <option value="">站名</option>
                    {{#each arrayify stations}}
                    <option value="{{key}}">{{key}} - {{value}}</option>
                    {{/each}}
                  </select>
                </div><!-- /.form-group -->
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="form-group">
                  <button type="submit" class="btn btn-info"><i class="fa fa-search" style="margin-right: 5px"></i> {{_ "search_btn"}}</button>
                </div><!-- /.form-group -->
              </div>
            </div>
          </form><!-- /#form-map -->
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-primary text-center b-b">
    <div class="container wrapper">
      <div>
        <img src="/images/h1.png" height="120px;">
      </div>
      <h3>家居从未如此简单</h3>
    </div>
  </div>

  <div class="b-t bg-white">
    <div class="container">
      <div class="row m-xl" style="margin-right: 0px;margin-left: 0px;">
        <div class="col-sm-4">
        <section class="panel hbox row">
            <aside class="bg-info r-l text-center v-middle col-xs-4">
              <div class="wrapper">
                <i class="fa fa-building-o fa-4x"></i>
              </div>
            </aside>
            <aside class="col-xs-8">
              <div class="wrapper-sm">
                <p class="h3">丰富房源</p>
                <br>
                <span class="text-muted">整合各方资源提供海量房源</span>
              </div>
            </aside>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="panel hbox row">
            <aside class="bg-primary r-l text-center v-middle col-xs-4">
              <div class="wrapper">
                <i class="fa fa-gears fa-4x"></i>
              </div>
            </aside>
            <aside class="col-xs-8">
              <div class="wrapper-sm">
                <p class="h3">智能分析</p>
                <br>
                <span class="text-muted">分析常用地点找出最佳房源</span>
              </div>
            </aside>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="panel hbox row">
            <aside class="bg-info r-l text-center v-middle col-xs-4">
              <div class="wrapper">
                <i class="fa fa-search-plus fa-4x"></i>
              </div>
            </aside>
            <aside class="col-xs-8">
              <div class="wrapper-sm">
                <p class="h3">极致搜索</p>
                <br>
                <span class="text-muted">针对不同需求分门别类</span>
              </div>
            </aside>
          </section>
        </div>
      </div>

      <div class="m-xl text-center wrapper">
        <p class="text-muted h4">家易，做新加坡最优质的租房平台</p>
        <br>
        <p class="text-muted h6">enquiry&#64;yiho.me</p>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="bg-black dker wrapper text-center">
      <span>{{_ "yihome"}} © 2015. All Rights Reserved.</span>
    </div>
  </footer>
</template>