<template name="inboxPage">
	<div>
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#">账户</a></li>
				<li class="active">收件箱</li>
			</ol>
		</div>
		<!-- end Breadcrumb -->
	</div>
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			<div class="col-xs-2">
				<section id="sidebar">
					<header><h3>账户</h3></header>
					<aside>
						<ul class="sidebar-navigation">
							<li><a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i><span class="hidden-xs">个人简介</span></a></li>
							<li><a href="{{pathFor 'myproperty' page=1}}"><i class="fa fa-home"></i><span class="hidden-xs">我的房屋</span></a></li>
							<li><a href="bookmarked.html"><i class="fa fa-heart"></i><span class="hidden-xs">反向推送</span></a></li>
							<li  class="active radius"><a href="{{pathFor 'inbox'}}"><i class="fa fa-inbox"></i><span class="hidden-xs">收件箱</span></a></li>
						</ul>
					</aside>
				</section><!-- /#sidebar -->
			</div><!-- /.col-md-3 -->
			<!-- end Sidebar -->
			<!-- My Properties -->
			<div class="col-xs-10">
				<section id="profile">
					<header><h1>收件箱</h1></header>
					{{#if topics}}
					<section class="hbox stretch" style="height:470px;margin-bottom:10px">
						<aside class="col-xs-5 topic-list">
						<ul class="bg-white list-group no-radius m-b-none m-t-n-xxs list-group-lg">
							{{#each topics}}
							<li class="list-group-item pointer topic-item" data-topic-id="{{_id}}">
								<div class="thumb-sm pull-left m-r-sm">
									<img src="{{getAvatarByTopicId _id}}" class="img-circle">
								</div>
								<div class="clear">
									<small class="pull-right hidden-xs" style="padding-top: 3px;">{{lastTime}}</small>
									<strong class="block-none-padding hidden-xs">{{sender}}</strong>
									<small>
									{{#if mine}}<i class="fa fa-reply hidden-xs"></i>&nbsp;{{/if}}
									<span class="hidden-xs">{{message}}</span>
									</small>
								</div>
							</li>
							{{/each}}
						</ul>
						</aside>
						<aside class="col-xs-7 b-l conversation-list">
							{{#if topicId}}
							<div class="popover-content conversation-content" style="padding:0px;">
								{{#with refer topicId}}
								<div class="referContainer">
									<div class="referImage">
										<a href="{{_link}}"><img src="{{getImageURL _image}}"></a>
									</div>
									<div class="referDescription">
										<a href="{{_link}}">{{_title}}</a>
									</div>
								</div>
								{{/with}}
								<div class="messagesContainer" style="height:340px;">
								{{#each messages topicId}}
									{{> messageRow}}
								{{/each}}
								</div>
								<div class="inputWrapper">
									<div class="ui-TextField ui-Field">
										<textarea autofocus="autofocus" class="content PMInput" placeholder="此处按回车发送私信" data-topic-id="{{topicId}}" style="border-radius: 0px;"></textarea>
									</div> 
								</div>
							</div>
							{{/if}}
						</aside>
					</section>
					{{else}}
					<div class="alert alert-info" role="alert">没有任何消息</div>
					{{/if}}
				</section><!-- /#profile -->
			</div><!-- /.col-md-9 -->
			<!-- end My Properties -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</template>