<template name="inboxPage">
	<div class="page-gradient">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#">账户</a></li>
				<li class="active">收件箱</li>
			</ol>
		</div>
		<!-- end Breadcrumb -->
	</div>
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			<div class="col-md-3 col-sm-2">
				<section id="sidebar">
					<header><h3>账户</h3></header>
					<aside>
						<ul class="sidebar-navigation">
							<li><a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i><span>个人简介</span></a></li>
							<li><a href="my-properties.html"><i class="fa fa-home"></i><span>我的房屋</span></a></li>
							<li><a href="bookmarked.html"><i class="fa fa-heart"></i><span>反向推送</span></a></li>
							<li class="active radius"><a href="{{pathFor 'inbox'}}"><i class="fa fa-inbox"></i><span>收件箱</span></a></li>
						</ul>
					</aside>
				</section><!-- /#sidebar -->
			</div><!-- /.col-md-3 -->
			<!-- end Sidebar -->
			<!-- My Properties -->
			<div class="col-md-9 col-sm-10">
				<section id="profile">
					<header><h1>收件箱</h1></header>
					{{#if messages}}
					<section class="hbox stretch">
						<aside class="col-lg-5 topic-list">
						<ul class="bg-white list-group no-radius m-b-none m-t-n-xxs list-group-lg">
							{{#each messages}}
							<li class="list-group-item" data-topic-id="{{_id}}">
								<a href="#" class="thumb-sm pull-left m-r-sm">
									<img src="img/avatar_default.jpg" class="img-circle">
								</a>
								<a href="#" class="clear">
									<small class="pull-right text-muted">{{lastTime}}</small>
									<strong class="block-none-padding">{{sender}}</strong>
									<small class="text-muted">{{message}}</small>
								</a>
							</li>
							{{/each}}
						</ul>
						</aside>
						<aside class="col-lg-7 b-l">
							

						</aside>
					</section>
					{{/if}}
				</section><!-- /#profile -->
			</div><!-- /.col-md-9 -->
			<!-- end My Properties -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</template>