<template name="sideSearch">
  <style type="text/css">
  /*overwrite pillbox css*/
  .pillbox ul {
    padding: 5px;
  }

  .pillbox ul>li {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px;
  }

  .pillbox ul>li:not(:first-child) {
    margin-top:5px;
  }

  .pillbox input {
    padding:0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  </style>
  <section>
    <aside>
      <form role="form" id="search-form-sidebar" class="form-search">
        <div class="form-group">
          <select name="property-type" class="selectpicker" data-width="100%">
            <option value="">任意房屋类型</option>
            {{#each arrayify ptypes}}
            <option value="{{key}}" {{ifSelected key currentQuery.propertyType}}>{{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->
        <div class="form-group">
          <select name="district" class="selectpicker" data-width="100%">
            <option value="">任意区域</option>
            {{#each arrayify district}}
            <option value="{{key}}" {{ifSelected key currentQuery.district}}>{{key}} - {{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="price" class="selectpicker" data-width="100%">
            <option value="" >任意价格</option>
            {{#each arrayify priceRange}}
            <option value="{{key}}" {{ifSelected key currentQuery.price}}>{{value}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <select name="mrtlines" id="mrtlines" class="selectpicker" data-width="100%">
            <option value="">任意地铁线</option>
            {{#each arrayify mrtlines}}
            <option value="{{key}}" {{ifSelected key currentQuery.mrtLines}}>{{mrtColoredLabel key}} {{value.niceName}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="stations" id="stations" class="selectpicker" data-width="100%">
            <option value="">站名</option>
            {{#each arrayify stations}}
            <option value="{{key}}" {{ifSelected key currentQuery.mrt}}>{{key}} - {{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="has-agent-fee" class="selectpicker" data-width="100%">
            <option value="">有无中介费</option>
            <option value="0" {{ifSelected 0 currentQuery.hasAgentFee}}>无中介费</option>
            <option value="1" {{ifSelected 1 currentQuery.hasAgentFee}}>有中介费</option>
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select id="rent-type" name="rent-type" class="selectpicker" data-width="100%">
            <option value="">出租方式</option>
            <option value="0" {{ifSelected 0 currentQuery.rentType}}>单间</option>
            <option value="1" {{ifSelected 1 currentQuery.rentType}}>整套</option>
          </select>
        </div><!-- /.form-group -->

        <div class="form-group">
          <select name="room-type" id="room-type" class="selectpicker" data-width="100%">
            <option value="">出租房间</option>
            {{#each arrayify rtypes}}
            <option value="{{key}}"  {{ifSelected key currentQuery.roomType}}>{{value}}</option>
            {{/each}}
          </select>
        </div><!-- /.form-group -->
        <div class="form-group">
          <select name="sorting" class="selectpicker" data-width="100%">
            <option value="">排序</option>
            <option value="priceBy1">价格从低到高</option>
            <option value="priceBy-1">价格从高到低</option>
            <option value="createdAtBy1">最新发布</option>
          </select>
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="pillbox clearfix bg-white m-b">
            <ul>
              {{#each arrayify multiAddress}}
              <li class="label bg-success multiAddrLabel"
                  data-key="{{key}}">{{value.address}}</li>
              {{/each}}
              <input type="text" class="form-control" placeHolder="常用地址: 工作地点, 学校..." id="multiAddress" name="multiAddress">
            </ul>
          </div>
        </div><!-- /.form-group -->
      </form><!-- /#form-map -->
    </aside><!-- /#edit-search -->
  </section><!-- /#sidebar -->
</template>

<template name="sideSearchModal">
  <div id="sideSearchModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">搜索条件</h4>
        </div>
        <div class="modal-body center">
          {{> sideSearch}}
        </div>
        <div class="modal-footer">
          <div class="form-group text-center">
            <a href="javascript:void(0)" class="btn btn-danger full-width" onclick="$('#sideSearchModal').modal('hide')">关闭</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>