<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
      <td bgcolor="#f7f9fa" align="center" style="padding:22px 0 20px 0">
        <table border="0" cellpadding="0" cellspacing="0" style="background-color:f7f9fa;border-radius:3px;border:1px solid #dedede;margin:0 auto;background-color:#ffffff" width="552">
          <tbody><tr>
            <td bgcolor="#0373d6" height="54" align="center" style="border-top-left-radius:3px;border-top-right-radius:3px">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                  <td align="center">
                    <a href="http://www.yiho.me" target="_blank">
                      <img src="http://www.yiho.me/img/h1.png" height="54" alt="家易" style="outline:none;display:block;border:none;font-size:14px;font-family:Hiragino Sans GB;color:#ffffff">
                    </a>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" align="center" style="padding:0 15px 0px 15px">
              <table border="0" cellpadding="0" cellspacing="0" width="480">
                <tbody><tr>
                  <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody><tr>
                        <td>
                          <table cellpadding="0" cellspacing="0" border="0" align="left">
                            <tbody><tr>
                              <td width="550" align="left" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">

                                  <tbody><tr>
                                    <td bgcolor="#ffffff" align="left" style="background-color:#ffffff;font-size:17px;color:#7b7b7b;padding:28px 0 0 0;line-height:25px"><b>{{name}}，欢迎加入<span>家</span><span>易</span>!</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="font-size:15px;color:#7b7b7b;font-size:14px;line-height:25px;font-family:Hiragino Sans GB;padding:20px 0px 20px 0px"><span>家</span><span>易</span>已经收到了你的密码重置请求，请 24 小时内点击下面的按钮重置密码。<wbr>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="border-bottom:1px #f1f4f6 solid;padding:10px 0 35px 0" align="center">
                                      <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                          <td>
                                            <span style="font-family:Hiragino Sans GB;font-size:17px">
                                              <a style="text-decoration:none;color:#ffffff" href="{{url}}" target="_blank">
                                                <div style="padding:10px 25px 10px 25px;border-radius:3px;text-align:center;text-decoration:none;background-color:#0a82e4;color:#ffffff;font-size:17px;margin:0;white-space:nowrap">立即重置密码
                                                </div>
                                              </a>
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>
</body>
</html>