<template name="securityPage">
  <div>
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{pathFor 'landing'}}">首页</a></li>
        <li class="active">账户</li>
      </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xs-2 col-sm-3">
          <section id="sidebar">
            <header><h3>账户</h3></header>
            <aside>
              <ul class="sidebar-navigation">
                <li><a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i><span class="hidden-xs">个人简介</span></a></li>
                <li class="active radius"><a href="{{pathFor 'security'}}"><i class="fa fa-lock"></i><span class="hidden-xs">安全设置</span></a></li>
                <li><a href="{{pathFor 'myproperty' type='open' page=1}}"><i class="fa fa-home"></i><span class="hidden-xs">我的房屋</span></a></li>
                <!-- <li><a href="bookmarked.html"><i class="fa fa-heart"></i><span class="hidden-xs">反向推送</span></a></li> -->
                <li><a href="{{pathFor 'inbox'}}"><i class="fa fa-inbox"></i><span class="hidden-xs">收件箱</span></a></li>
              </ul>
            </aside>
          </section><!-- /#sidebar -->
        </div><!-- /.col-md-3 -->
        <!-- end Sidebar -->
        <!-- My Properties -->
        <div class="col-xs-10 col-sm-9">
          <section id="security">
            <header><h1>安全设置</h1></header>
            <div class="account-profile">
              <div class="row">
                <div class="col-sm-7">
                  {{> flashMessages}}
                  <form role="form" id="accountSecurity">
                    <section id="contact">
                      <h3>修改密码</h3>
                      <dl class="contact-fields">
                      <dt><label for="form-account-name">当前密码:</label></dt>
                        <dd>
                          <div class="form-group" >
                            <input type="password" class="form-control" name="oldpass" value="">
                          </div><!-- /.form-group -->
                        </dd>
                      </dl>
                      <dl class="contact-fields">
                      <dt><label for="form-account-name">新的密码:</label></dt>
                        <dd>
                          <div class="form-group" >
                            <input type="password" class="form-control" name="newpass" value="">
                          </div><!-- /.form-group -->
                        </dd>
                      </dl>
                      <dl class="contact-fields">
                      <dt><label for="form-account-name">确认密码:</label></dt>
                        <dd>
                          <div class="form-group" >
                            <input type="password" class="form-control" name="repeatpass" value="">
                          </div><!-- /.form-group -->
                        </dd>
                      </dl>
                      <div class="form-group clearfix">
                        <button type="submit" class="btn pull-right btn-default">保存变更</button>
                      </div><!-- /.form-group -->
                    </section>
                  </form><!-- /#form-contact -->
                </div><!-- /.col-md-9 -->
              </div><!-- /.row -->
            </div><!-- /.account-profile -->
          </section><!-- /#profile -->
        </div><!-- /.col-md-9 -->
        <!-- end My Properties -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>

</template>