<template name="loginForm">
	<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 b-r">
							<h1 class="m-t-none m-b">登陆</h1>
							<p>登陆并管理您的账户</p>
							{{> flashMessages}}
							<form role="form" id="loginForm" method="post">
								<div class="form-group">
									<label>用户名</label>
									<input type="text" class="form-control" name="username" placeholder="输入您的用户名">
								</div>
								<div class="form-group">
									<label>密码</label>
									<input type="password" class="form-control" name="password" placeholder="输入您的密码">
								</div>
								<div class="checkbox m-t-lg">
									<button type="submit" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs"><strong>登入</strong></button>
									<label>
										<input type="checkbox"> 记住我
									</label>
								</div>
							</form>
						</div>
						<div class="col-sm-6">
							<h1>还不是会员 ?</h1>
							<p>一分钟拥有账号，点击 <a href="#" data-toggle="modal" data-target="#signupModal" class="text-info" onclick="$('#loginModal').modal('hide')">这里</a> 免费注册</p>
							<p>或者</p>
							<a href="#" class="btn btn-facebook btn-block m-b-sm" id="facebookLogin"><i class="fa fa-facebook pull-left"></i>使用Facebook账户登陆</a>
							<a href="#" class="btn btn-gplus btn-block" id="googleLogin"><i class="fa fa-google-plus pull-left"></i>使用Google账户登陆</a>
						</div>
					</div>          
				</div>
			</div>
		</div>
	</div>
</template>