<template name="myProperties">
  <div>
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{pathFor 'properties' page=1}}">首页</a></li>
        <li><a href="{{pathFor 'profile'}}">账户</a></li>
        <li class="active">我的房屋</li>
      </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xs-2 col-sm-3">
          <section id="sidebar">
            <header><h3>账户</h3></header>
            <aside>
              <ul class="sidebar-navigation">
                <li><a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i><span class="hidden-xs">个人简介</span></a></li>
                <li class="active radius"><a href="#"><i class="fa fa-home"></i><span class="hidden-xs">我的房屋</span></a></li>
                <!-- <li><a href="bookmarked.html"><i class="fa fa-heart"></i><span class="hidden-xs">反向推送</span></a></li> -->
                <li><a href="{{pathFor 'inbox'}}"><i class="fa fa-inbox"></i><span class="hidden-xs">收件箱</span></a></li>
              </ul>
            </aside>
          </section><!-- /#sidebar -->
        </div><!-- /.col-md-3 -->
        <!-- end Sidebar -->
        <!-- My Properties -->
        <div class="col-xs-10 col-sm-9">
          <section id="my-properties">
            <ul class="nav nav-tabs nav-justified" role="tablist" style="margin-bottom:10px">
              <li role="presentation" class="active"><a href="{{pathFor 'myproperty' page=1}}">正在发布 ({{totalActive}})</a></li>
              <li role="presentation"><a href="{{pathFor 'myproperty' page=1 hash='inactive-record'}}">已关闭 ({{totalInactive}})</a></li>
            </ul>
            <div class="my-properties">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>我的房屋</th>
                    <th style="width:35%"></th>
                    <th>发布时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                  </thead>

                  {{#if showActive}}
                    <tbody>
                      {{#unless properties.count}}
                      <tr><td colspan="5" style="text-align:center">没有发布的帖子</td></tr>
                      {{/unless}}

                      {{#each properties}}
                      <tr>
                        <td class="image">
                          <div class="thumbnail">
                            <a href="{{pathFor 'propertyDetail' id=_id}}"><img alt="" src="{{getImageURL photos}}"></a>
                          </div>
                        </td>
                        <td>
                          <div class="inner">
                            <a href="property-detail.html"><h2></h2></a>
                            <figure>{{address}}</figure>
                            <div class="tag price">$ {{price}}</div>
                          </div>
                        </td>
                        <td>{{transDatetime createdAt 'YYYY-MM-DD HH:mm:ss'}}</td>
                        <td>
                          <select name="status">
                            {{#each arrayify propertyStatus}}
                            <option value="{{key}}" {{ifSelected key properties.status}}>{{value}}</option>
                            {{/each}}
                          </select>
                        </td>
                        <td class="actions">
                          <a href="{{pathFor 'editProperty' id=_id}}" class="edit"><i class="fa fa-pencil"></i>编辑</a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  {{else}}
                    <tbody>
                      {{#unless properties.count}}
                      <tr><td colspan="5" style="text-align:center">没有已经关闭的帖子</td></tr>
                      {{/unless}}

                      {{#each properties}}
                      <tr>
                        <td class="image">
                          <div class="thumbnail">
                            <a href="{{pathFor 'propertyDetail' id=_id}}"><img alt="" src="{{getImageURL photos}}"></a>
                          </div>
                        </td>
                        <td>
                          <div class="inner">
                            <a href="property-detail.html"><h2></h2></a>
                            <figure>{{address}}</figure>
                            <div class="tag price">$ {{price}}</div>
                          </div>
                        </td>
                        <td>{{transDatetime createdAt 'YYYY-MM-DD HH:mm:ss'}}</td>
                        <td>
                          <select name="status">
                            {{#each arrayify propertyStatus}}
                            <option value="{{key}}" {{ifSelected key properties.status}}>{{value}}</option>
                            {{/each}}
                          </select>
                        </td>
                        <td class="actions">
                          <a href="{{pathFor 'editProperty' id=_id}}" class="edit"><i class="fa fa-pencil"></i>编辑</a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  {{/if}}
                </table>
              </div><!-- /.table-responsive -->
              <!-- Pagination -->
              {{>Template.dynamic template="pagination" data=paginationConfig}}
            </div><!-- /.my-properties -->
          </section><!-- /#my-properties -->
        </div><!-- /.col-md-9 -->
        <!-- end My Properties -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
</template>