<template name="propertyDetail">
  <style>
    hr {
      margin-top:10px;
      margin-bottom: 10px;
    }
  </style>
  <div>
    <div class="propertyImage">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <div class="thumb-lg pull-left m-r">
              <img src="{{getAvatarByUserId property.author}}" class="img-circle">
            </div>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-white text-shadow">{{property.address}}</span>
              </div>
              <div class="m-b m-t-sm text-white text-shadow">
                <div class="row">
                  <div class="col-sm-12">
                    {{#with property.contact}}
                    <div class="row">
                      <div class="col-sm-3 m-b-sm">
                        <i class="fa fa-user icon-align"></i>
                        {{name}}
                      </div>
                      <div class="col-sm-3 m-b-sm">
                        <i class="fa fa-phone icon-align"></i>
                        {{nullHelper phone}}
                      </div>
                      <div class="col-sm-3 m-b-sm">
                        <i class="fa fa-qq icon-align"></i>
                        {{nullHelper qq}}
                      </div>
                      <div class="col-sm-3 m-b-sm">
                        <i class="fa fa-wechat icon-align"></i>
                        {{nullHelper wechat}}
                      </div>
                    </div>
                    {{/with}}
                  </div>
                </div>
              </div>
              {{#if currentUser}}
                {{#if isNotOwner}}
                  <button class="btn btn-sm btn-success btn-rounded m-b-xs" id="enquiry-btn" data-refer-id="{{property._id}}">询问</button>
                {{else}}
                  <a href="{{pathFor 'editProperty' id=property._id}}" class="btn btn-sm btn-primary btn-rounded m-b-xs">修改</a>
                {{/if}}
              {{else}}
                <a href="{{pathFor 'signin'}}" class="btn btn-sm btn-primary btn-rounded m-b-xs">登陆并询问</a>
              {{/if}}
              <button type="button" class="btn btn-sm btn-white btn-rounded m-b-xs" id="return-btn">返回至上一页</button>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center text-white">
              <div class="m-b-md inline m">
                <span class="h3 block text-shadow">$ {{property.price}}<sup>SGD</sup></span>
                <small class="text-shadow">每月</small>
              </div>
              <div class="m-b-md inline m">
                <span class="h3 block text-shadow">{{transAgt property.hasAgentFee}}</span>
                <small class="text-shadow">中介费</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infoArea">
      <div class="b-b">
        <div class="container wrapper">
          <!-- Property Detail Content -->
          <div class="col-md-8">
            <div id="description" class="panel">
              <div class="panel-body">
                <header>房屋描述</header>
                <hr>
                {{#if property.description}}
                <p>{{breaklines property.description}}</p>
                {{else}}
                <p class="text-mute">这家伙很懒，没有留下详细描述, 请您参考概览吧 ;)</p>
                {{/if}}
              </div>
            </div><!-- /#description -->

            {{#if property.photos}}
            <div class="">
              <div id="prop-carousel" class="carousel">
                {{#each property.photos}}
                <div class="item"><img src="{{getImageURL this}}"></div>
                {{/each}}
              </div>

              <div id="prop-carousel-nav" class="well well-sm">
                {{#each property.photos}}
                <div>
                  <img class="img-thumbnail" style="height:70px; margin-left:auto; margin-right:auto" src="{{getImageURL this}}">
                </div>
                {{/each}}
              </div>
            </div>
            {{/if}}

            <div id="quick-summary" class="panel">
              <div class="panel-body">
                <header>概览<hr></header>
                <div>
                  {{#with property}}
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>地址:</strong></div>
                    <div class="col-xs-7 text-right">{{address}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>{{_ "label_district"}}:</strong></div>
                    <div class="col-xs-7 text-right">{{transDistr district}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>{{_ "label_property_type_long"}}:</strong></div>
                    <div class="col-xs-7 text-right">{{transPtype propertyType}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>{{_ "label_room_type"}}:</strong></div>
                    <div class="col-xs-7 text-right">{{transRoom rentType roomType}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>面积:</strong></div>
                    <div class="col-xs-7 text-right">{{area}} m<sup>2</sup></div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>卧室:</strong></div>
                    <div class="col-xs-7 text-right">{{bedroom}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>卫生间:</strong></div>
                    <div class="col-xs-7 text-right">{{bathroom}}</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>{{_ "label_near_mrt"}}:</strong></div>
                    <div class="col-xs-7 text-right">{{transMRT mrt}} ({{mrt}})</div>
                  </div>
                  <div class="row m-b-sm">
                    <div class="col-xs-5"><strong>{{_ "label_move_in_date"}}:</strong></div>
                    <div class="col-xs-7 text-right">{{transDatetime moveInDate}}</div>
                  </div>
                  {{/with}}
                </div>
              </div>
            </div><!-- /#quick-summary -->
            <div id="property-features" class="panel">
              <div class="panel-body">
                <header>房屋设施</header>
                <hr>
                <ul class="property-features-list">
                  {{#each property.facilities}}
                  <li class="col-sm-4 col-xs-6">{{transPfaci this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div><!-- /#property-features -->

            <div id="property-nearby" class="panel">
              <div class="panel-body">
                <header>附近 <small>(1km 内)</small></header>
                <hr>
                <div class="panel panel-primary">
                  <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" href="#nearbyMart">
                    <h3 class="panel-title">超市，便利店</h3>
                  </div>
                  <div class="panel-body panel-collapse collapse" id="nearbyMart">
                    {{#if nearby.mart}}
                    <ul class="list-unstyled property-features-list">
                      {{#each nearby.mart}}
                      <li>{{name}}</li>
                      {{/each}}
                    </ul>
                    {{else}}
                    <span>没有相关信息</span>
                    {{/if}}
                  </div>
                </div>

                <div class="panel panel-primary">
                  <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" href="#nearbyFood">
                    <h3 class="panel-title">餐馆，食阁</h3>
                  </div>
                  <div class="panel-body panel-collapse collapse" id="nearbyFood">
                    {{#if nearby.food}}
                    <ul class="list-unstyled property-features-list">
                      {{#each nearby.food}}
                      <li>{{name}}</li>
                      {{/each}}
                    </ul>
                    {{else}}
                    <span>没有相关信息</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.col-md-9 -->
          <!-- end Property Detail Content -->
          <!-- route tool -->
          <div class="col-md-4">
            <div id="property-features" class="panel">
              <div class="panel-body">
                <header>分享该房源</header>
                <hr>
                {{> shareButtons}}
              </div>
            </div><!-- /#property-features -->
            {{> routeHelper property.map}}
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
    {{!--
    <div>
      <div class="container with-padding">
        <div class="col-sm-8">
          {{#with authorProfile}}
          <section id="user-info">
            <header><h3>关于发帖人，{{name}}</h3></header>
            <div class="row">
              <div class="col-xs-3 center">
                <img class="img-circle" src="{{getAvatarByUserId userid}}" width="90px">
              </div>
              <div class="col-xs-9">
                <h4>{{{breaklines about}}}</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-3">
                <label class="text-mute">信用</label>
              </div>
              <div class="col-xs-9">
                <div class="col-xs-3 center">
                  <img width="60px" class="hoverInfo" data-placement="top" data-toggle="popover" data-trigger="hover" title="已验证中介" data-content="用户已经通过线上及线下文件验证其真实可靠性" src="/img/verified.png">
                </div>
              </div>
            </div>
          </section><!-- /#edit-search -->
          {{/with}}
        </div>
      </div>
    </div>
    --}}
  </div>
  {{> wechatPopup}}
  <div id="mapbox" style="width:100%;height:60vh"></div>
  {{#with property.map}}
  <input type="hidden" name="latitude" value="{{latitude}}" />
  <input type="hidden" name="longitude" value="{{longitude}}" />
  {{/with}}
</template>