<template name="routeHelper">
  <div class="panel panel-default" style="border:none;margin-bottom:0px;">
    <div class="panel-heading background-color-white" style="border-color: 1px solid #f5f5f5;padding:0px">
      <div class="travel-mode selected">
        <div class="travel-mode-button ">
          <div class="travel-icon directions-mixed-icon"></div>
          <div class="travel-icon travel-mode-breadcrumb"></div>
        </div>
        <div class="directions-travel-mode-underline" style="width:47px;"></div>
      </div>
      <div class="travel-mode">
        <div class="travel-mode-button">
          <div class="travel-icon directions-drive-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode">
        <div class="travel-mode-button">
          <div class="travel-icon directions-transit-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode">
        <div class="travel-mode-button">
          <div class="travel-icon directions-walk-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="panel-body" style="border:none;height:100%">
    </div>
  </div>
</template>