<template name="routeHelper">
  <div class="panel panel-default" style="border:none;margin-bottom:0px;">
    <div class="panel-heading background-color-white" style="border-color: 1px solid #f5f5f5;padding:0px">
      <div class="travel-mode selected">
        <div class="travel-mode-button">
          <div class="travel-icon directions-mixed-icon"></div>
          <div class="travel-icon travel-mode-breadcrumb"></div>
        </div>
        <div class="directions-travel-mode-underline" style="width:47px;"></div>
      </div>
      <div class="travel-mode" data-travel-mode="driving">
        <div class="travel-mode-button">
          <div class="travel-icon directions-drive-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode" data-travel-mode="transit">
        <div class="travel-mode-button">
          <div class="travel-icon directions-transit-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode" data-travel-mode="walking">
        <div class="travel-mode-button">
          <div class="travel-icon directions-walk-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="panel-body" style="border:none;height:100%">
      <div class="input-group m-b">
        <span style="padding:6px 12px"><i class="fa fa-circle-o icon-align"></i></span>
        <label style="margin-left:8px" id="route-origin" data-map-lat="{{latitude}}" data-map-lng="{{longitude}}">当前地址</label>
      </div>
      <div class="input-group">
        <span class="input-group-addon text-danger"><i class="fa fa-map-marker icon-align"></i></span>
        <input type="text" id="route-destination" name="route-destination" class="form-control" placeholder="输入目的地">
      </div>
      {{#if routes}}
        <hr>
        {{#each routes}}
        <div>        
          <div class="route-element radius panel">
            <span class="travel-mode-icon drive"></span>via {{summary}}
            <p>还想再快一点？可选择用google或者facebook帐号登录。</p>
          </div>
        </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</template>