<template name="routeHelper">
  <div class="panel no-border">
    <div class="panel-heading no-padder">
      <div class="travel-mode selected" data-travel-mode="driving">
        <div class="travel-mode-button">
          <div class="travel-icon directions-drive-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode" data-travel-mode="transit">
        <div class="travel-mode-button">
          <div class="travel-icon directions-transit-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div class="travel-mode" data-travel-mode="walking">
        <div class="travel-mode-button">
          <div class="travel-icon directions-walk-icon"></div>
        </div>
        <div class="directions-travel-mode-underline"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-10 b-r gap">
          <div class="input-group" id="originDiv">
            <span style="padding:6px 12px"><i class="fa fa-circle-o icon-align"></i></span>
            <label style="margin-left:8px" id="route-origin" name="route-origin" data-map-lat="{{latitude}}" data-map-lng="{{longitude}}">当前浏览地址</label>
          </div>
          <div class="input-group" id="destinationDiv">
            <span class="input-group-addon text-danger"><i class="fa fa-map-marker icon-align"></i></span>
            <input type="text" id="route-destination" name="route-destination" class="form-control routeInput" placeholder="输入目的地">
          </div>
        </div>
        <div class="col-xs-2">
          <div style="padding-top:25px"><i class="fa fa-random pointer switchPlace"></i></div>
        </div>
      </div>
      {{#if routes}}
        <div>
          <hr>
          {{#each routes}}
          <div>
            <div class="route-element radius panel">
              <div>
              {{#each routing}}
                {{#if hasIcon}}
                  <span class="travel-mode-icon {{mode}}"></span>{{shortName}}
                {{else}}
                  <span class="label" style="padding:4px 6px;width:32px;background-color:{{bgColor}}">{{shortName}}</span>
                {{/if}}
                <i class="fa fa-angle-right"></i>
              {{/each}}
              &nbsp;<strong>{{summary}}</strong>
              </div>
              {{#each legs}}
              <div style="padding:10px 0px">
                总距离{{distance.text}}, 大概需要{{duration.text}}的时间才能到达
              </div>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
  <!-- {{> routeMap}} -->
</template>

<template name="routeMap">
  <div id="routeMapModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">详细路线</h4>
        </div>
        <div class="modal-body center" id="routeMapModalContent">
          
        </div>
      </div>
    </div>
  </div>
</template>