<template name="myProperties">
  <section class="hbox stretch bg-white-only">
    {{> profile}}
    <!-- .aside -->
    <aside class="">
      <section class="vbox">
        <header class="header bg-white pos-rlt navbar navbar-default show">
          <span class="arrow left"></span>
          <div class="collapse navbar-collapse pull-in">
            <ul class="nav navbar-nav">
              <!-- <li><a href="{{pathFor "me"}}">即时动态</a></li> -->
              <li class="font-bold"><a href="{{pathFor 'myproperty' type='open' page=1}}">我的房屋</a></li>
              <li><a href="{{pathFor 'security'}}">安全设置</a></li>
              <li><a href="{{pathFor 'inbox'}}">收件箱</a></li>
            </ul>
          </div>
        </header>
        <section>
          <section class="hbox stretch">
            <aside>
              <section class="vbox">
                <section class="scrollable wrapper">
                  <section class="panel">
                    <header class="panel-heading">
                      房屋列表
                    </header>
                    <div class="row text-sm wrapper">
                      <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'open' currStatus}}" data-status="open">
                            发布中 ({{totalActive}})
                          </label>
                          <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'inactive' currStatus}}" data-status="inactive">
                            不公开 ({{totalInactive}})
                          </label>
                          <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'administrated' currStatus}}" data-status="administrated">
                            管制 ({{totalAdministered}})
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3 m-b-xs">
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group">
                          <input type="text" class="input-sm form-control" placeholder="关键字">
                          <span class="input-group-btn">
                            <button class="btn btn-sm btn-white" type="button">Go!</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped b-t text-sm">
                        <thead>
                          <tr>
                            <th style="width:45%">我的房屋</th>
                            <th>价格</th>
                            <th>发布时间</th>
                            <th>操作</th>
                            <th>状态</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#unless properties.count}}
                          <tr><td colspan="5" class="text-center">没有帖子</td></tr>
                          {{/unless}}

                          {{#each properties}}
                          <tr>
                            <td style="vertical-align:middle">
                              <a href="{{pathFor 'propertyDetail' id=_id}}"><figure>{{address}}</figure></a>
                            </td>
                            <td style="vertical-align:middle">$ {{price}}</td>
                            <td style="vertical-align:middle">{{transDatetime createdAt 'YYYY-MM-DD HH:mm:ss'}}</td>
                            <td class="actions" style="vertical-align:middle">
                              <a href="{{pathFor 'editProperty' id=_id}}" class="edit"><i class="fa fa-pencil"></i> 编辑</a>
                            </td>
                            <td style="vertical-align:middle">
                              {{#if isAdministrated status}}
                              <span style="color:red">{{transPropStatus status}}</span>
                              {{else}}
                                {{> myPropertyList}}
                              {{/if}}
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                    <footer class="panel-footer">
                      <div class="row">
                        <div class="col-sm-8 hidden-xs">

                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                          {{>Template.dynamic template="pagination" data=paginationConfig}}
                        </div>
                      </div>
                    </footer>
                  </section>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
    </aside>
    <!-- /.aside -->
  </section>
</template>