<template name="adminPropertyList">
  <style type="text/css">
    /* to align select with other fields */
    .btn-group.bootstrap-select.status{
      margin-bottom: 0px
    }
  </style>
  <section class="panel">
    <div class="table-responsive">
      <table class="table table-striped m-b-none">
        <thead>
          <tr>
            <th style="width:40%">房屋列表</th>
            <th style="width:10%">价格</th>
            <th>发布时间</th>
            <th>操作</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          {{#unless properties.count}}
          <tr><td colspan="5" class="text-center">没有帖子</td></tr>
          {{/unless}}

          {{#each properties}}
          <tr>
            <td class="v-middle">
              <a href="{{pathFor 'propertyDetail' id=_id}}"><figure>{{address}}</figure></a>
            </td>
            <td class="v-middle">$ {{price}}</td>
            <td class="v-middle">{{transDatetime createdAt 'YYYY-MM-DD HH:mm:ss'}}</td>
            <td class="actions v-middle">
              <a class="delete" style="cursor: pointer" data-propid="{{_id}}"><i class="fa fa-trash-o"></i> 删除</a>
            </td>
            <td class="v-middle">
              <select class="status selectpicker" id="{{_id}}" data-width="100%" style="margin-bottom:0px;">
                {{#each arrayify propertyStatus}}
                <option value="{{key}}" {{ifSelected key ../status}}>{{value}}</option>
                {{/each}}
              </select>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
    <!-- Pagination -->
  {{>Template.dynamic template="pagination" data=paginationConfig}}
</template>