<template name="adminProperty">
  <section class="hbox stretch">
    <!-- .vbox -->
    <section id="content">
      <section class="hbox stretch">
        <aside class="aside bg-white b-r" id="subNav">
          <div class="wrapper b-b font-bold">管理员</div>
          <ul class="nav">
            <li class="b-b"><a href="{{pathFor 'adminuser' type='all' page='1'}}">用户管理</a></li>
            <li class="b-b"><a href="{{pathFor 'adminproperty' type='open' page='1'}}">房屋管理</a></li>
          </ul>
        </aside>
        <aside>
          <section class="vbox">
            <header class="header bg-white b-b clearfix">
              <div class="row m-t-sm">
                <div class="col-sm-6 m-b-xs">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'open' currStatus}}" data-status="open">
                      发布中 ({{totalActive}})
                    </label>
                    <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'inactive' currStatus}}" data-status="inactive">
                      已关闭 ({{totalInactive}})
                    </label>
                    <label class="propertyStatus btn btn-sm btn-white {{activeClassHelper 'administrated' currStatus}}" data-status="administrated">
                      管制 ({{totalAdministered}})
                    </label>
                  </div>
                </div>
                <!-- <div class="col-sm-6 m-b-xs">
                  <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-white" type="button">Go!</button>
                    </span>
                  </div>
                </div> -->
              </div>
            </header>
            <section class="scrollable wrapper w-f">
              {{> adminPropertyList}}
            </section>
          </section>
        </aside>
      </section>
    </section>
    <!-- /.vbox -->
  </section>
</template>