<template name="adminProperty">
  {{> breadcrumbs}}
  <div class="container">
    <div class="row">
    <div class="col-xs-2 col-sm-3">
        <section id="sidebar">
          <header><h3>管理员</h3></header>
          <aside>
            <ul class="sidebar-navigation">
              <li><a href="{{pathFor 'adminuser' type='active' page='1'}}"><i class="fa fa-user"></i><span class="hidden-xs">管理用户</span></a></li>
              <li class="active radius"><a href="#"><i class="fa fa-home"></i><span class="hidden-xs">管理房屋</span></a></li>
              <li><a href=""><i class="fa fa-inbox"></i><span class="hidden-xs">收发件箱</span></a></li>
            </ul>
          </aside>
        </section><!-- /#sidebar -->
      </div><!-- /.col-md-3 -->
      <!-- end Sidebar -->
      <!-- My Properties -->
      <div class="col-xs-10 col-sm-9">
        <section id="admin-properties">
          <ul class="nav nav-tabs nav-justified" role="tablist" style="margin-bottom:10px">
            <li role="presentation" class="{{activeClassHelper 'open' activeTab}}"><a href="{{pathFor 'adminproperty' page=1 type='open'}}">正在发布 ({{totalActive}})</a></li>

            <li role="presentation" class="{{activeClassHelper 'inactive' activeTab}}"><a href="{{pathFor 'adminproperty' page=1 type='inactive'}}">已关闭 ({{totalInactive}})</a></li>

            <li role="presentation" class="{{activeClassHelper 'administrated' activeTab}}"><a href="{{pathFor 'adminproperty' page=1 type='administrated'}}">系统管制 ({{totalAdministered}})</a></li>
          </ul>
          {{> adminPropertyList}}
        </section><!-- /#my-properties -->
      </div><!-- /.col-md-9 -->
      <!-- end My Properties -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</template>