<template name="adminUserList">
  <style type="text/css">
    /* to align select with other fields */
    .btn-group.bootstrap-select.status{
      margin-bottom: 0px
    }
  </style>
  <section class="panel">
    <div class="table-responsive">
      <table class="table table-striped m-b-none">
        <thead>
          <tr>
            <th style="width:15%">用户</th>
            <th style="width:35%">邮箱</th>
            <th>注册时间</th>
            <th>操作</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          {{#unless users.count}}
          <tr><td colspan="5" style="text-align:center">没有用户</td></tr>
          {{/unless}}

          {{#each users}}
          <tr>
            <td class="v-middle">
              {{getUsernameByUserId _id}}
            </td>
            <td class="v-middle">
              {{#with getEmailAndStatusByUserId _id}}
              {{address}}
              {{/with}}
            </td>
            <td class="v-middle">{{transDatetime createdAt 'YYYY-MM-DD HH:mm:ss'}}</td>
            <td class="actions v-middle">
              <a class="delete" style="cursor: pointer;" data-propid="{{_id}}"><i class="fa fa-trash-o"></i>删除</a>
            </td>
            <td class="v-middle">
              <select class="status selectpicker" id="{{_id}}" data-width="100%" data-margin-bottom="0px">
                {{#each arrayify userStatus}}
                <option value="{{key}}" {{ifSelected key ../status}}>{{value}}</option>
                {{/each}}
              </select>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  <!-- Pagination -->
  {{>Template.dynamic template="pagination" data=paginationConfig}}
</template>